@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2") format("woff2"), url("../fonts/web/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbold.woff2") format("woff2"), url("../fonts/web/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumitalic.woff2") format("woff2"), url("../fonts/web/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/web/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/web/ptsans.woff2") format("woff2"), url("../fonts/web/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/web/ptsansbold.woff2") format("woff2"), url("../fonts/web/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 59px;
  background-color: #f4f7f9;
  height: 320px;
}

.header-navigation {
  min-height: 42px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-back {
  margin-left: 130px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-back:hover,
.logo-back:focus {
  background-color: #ca2c37;
}

.logo-back:active {
  background-color: #ba2732;
}

.logo,
.logo-down {
  display: block;
  height: 19px;
  padding-bottom: 8px;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
}

.logo-down {
  padding-top: 20px;
}

.search {
  position: relative;
}

.search input {
  height: 42px;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 142px;
  border: none;
  vertical-align: middle;
  background-color: #293449;
}

.search svg {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  fill: #ffffff;
  opacity: 0.3;
}

.search input:hover,
.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus {
  background-color: #212a3a;
}

.search input:focus {
  background-color: #ffffff;
  color: black;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

.header-list {
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-list li {
  min-width: 150px;
  text-align: center;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
}

.order {
  margin-right: 130px;
  padding-top: 14px;
  padding-bottom: 13px;
  text-align: center;
  line-height: 1.18;
  border: 0;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}
.order:active {
  background-color: #518534;
}

.bookmarks,
.basket {
  position: relative;
  padding-top: 14px;
  padding-bottom: 13px;
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 13px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmarks:hover::before,
.basket:hover::before,
.search svg:hover {
  opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
  opacity: 0.5;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 10px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-list,
.navigation-list,
.slider-item,
.logo-brands,
.servises-items,
.upper-navigation,
.soc-bar,
.page-orientation,
.power-box,
.producers-box,
.pagination-list {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.modal-feedback,
.modal-map,
.modal-basket {
  display: none;
}

.align-header-info {
  min-height: 60px;
  display: flex;
  background-color: #f4f7f9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  justify-content: space-around;
  align-items: flex-start;
}

.header-info {
  margin-left: 53px;
}

.header-info h1,
.header-text {
  width: 200px;
  font-family: Cuprum;

  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  padding: 13px 52px 11px 74px;
  text-align: center;
}

.tel {
  color: #ee3643;
  font-size: 21px;
  border: 3px solid #ffffff;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 6px;
  padding-bottom: 8px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

.header-contacts address {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
  margin-top: 10px;
}

.user-menu button {
  height: 45px;
  min-width: 121px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #000000;
  border: 0;
}

.user-login:hover,
.user-registration:hover {
  color: #ee3643;
}

.user-login:active,
.user-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login {
  position: relative;
  background-color: transparent;
  padding: 15px 27px 15px 48px;
}

.user-login::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/svg/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-registration {
  background-color: transparent;
  margin-left: 10px;
  padding: 14px 25px 11px 25px;
}
.navigation-list {
  padding: 0;
  box-sizing: border-box;
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 0;
}

.navigation-list li {
  width: auto;
  font-family: Cuprum;
  font-size: 17px;
  display: block;
  padding: 20px 31px;
  line-height: 1;
  color: #ffffff;
}

.navigation-list li:hover,
.navigation-list li:focus {
  background-color: #293449;
}

.navigation-list li:active {
  background-color: #1d2739;
}

.goods-services {
  margin-bottom: 53px;
}

.flex-row1 h2,
.flex-row2 h2 {
  margin: 21px 0 15px 23px;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
}

.flex-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
}

.flex-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row1 a,
.flex-row2 a {
  position: absolute;
  top: 63px;
  left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
  width: 135px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.flex-row1 a:hover,
.flex-row2 a:hover,
.flex-row1 a:focus,
.flex-row2 a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.flex-row1 a:active,
.flex-row2 a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials,
.tools,
.equipments,
.discounts,
.delivery {
  position: relative;
  display: flex;
  width: 300px;
  height: 123px;
}

.discounts {
  margin-bottom: 20px;
}

.materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/icon-1.svg");
}

.tools::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/icon-2.svg");
}

.equipments::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/icon-3.svg");
}

.discounts::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/svg/icon-4.svg");
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/svg/icon-5.svg");
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  background-color: #4a4041;
}

.slider-list h2 {
  font-family: Cuprum, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 5px;
  width: 220px;
  text-transform: uppercase;
}

.slider-item {
  display: none;
  min-height: 256px;
  padding-left: 25px;
  padding-top: 12px;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px 4px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.radio-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.radio-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.radio-2:checked ~ .slider-list .slider-item:nth-child(1) {
  display: none;
}

.radio-1:checked ~ .slider-controls .slider-controls-item-1::before,
.radio-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  left: 70%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.button-slider-controls .slider-controls-item-1::before {
  content: "";
  position: absolute;
  top: 115px;
  left: 25px;
  z-index: 2;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
}

.button-slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  top: 115px;
  left: 578px;
  z-index: 2;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
}

.slider-list p {
  font-family: Cuprum, "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  margin-left: 25px;
  width: 220px;
  margin-bottom: 127px;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-item a {
  position: absolute;
  top: 205px;
  font-family: Cuprum, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 10px 30px 10px;
  margin-bottom: 22px;
}

.slider-item a:hover {
  background-color: #ca2c37;
}

.slider-item a:active {
  background-color: #ba2732;
}

.slider-controls {
  position: absolute;
  left: 280px;
  bottom: 42px;
  min-width: 48px;
  height: 18px;
  text-align: center;
  font-size: 0;
}

.slider-item:first-child {
  display: block;
  background-color: #8a7146;
  background-image: url("../img/jpg/slider-man-1.jpg");
  background-repeat: no-repeat;
}

.slider-item:last-child {
  background-color: #948975;
  background-image: url("../img/jpg/slider-man-2.jpg");
  background-repeat: no-repeat;
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.equipments {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.topic-popular,
.topic-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.topic-popular h2,
.topic-brands h2 {
  margin: 0;
  padding-left: 30px;
  font-family: Cuprum;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.topic-popular a,
.topic-brands a {
  width: 253px;
  text-align: center;
  font-family: Cuprum;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #f9f5f0;
  background-color: #ee3643;
  margin-right: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}

.mini-catalog {
  display: flex;
}

.item {
  border: 1px solid #eaeaea;
  width: 220px;
  height: 316px;
  margin-bottom: 20px;
}

.item:not(:last-of-type) {
  margin-right: 18px;
}

.item figure {
  margin: 0;
}

.item-card img {
  margin-bottom: -12px;
}

.actions {
  margin-top: 46px;
  margin-bottom: 40px;
  display: none;
}

.actions .buy,
.actions .marker {
  display: block;
	width: 135px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
}

.buy {
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  position: relative;
}

.buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 12px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.buy:hover::before{
  opacity: 1;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.actions .marker {
  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
  width: 129px;
}

.marker:hover {
  border-color: #32425c;
}

.marker:active {
  opacity: 0.3;
}

.item-description {
  margin-right: 33px;
  margin-left: 32px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  padding-top: 12px;
}

.item-description a {
  color: #000000;
  font-size: 18px;
  line-height: 1.06;
  margin-bottom: 9px;
}

.margin-price {
  margin-top: 39px;
}

.item-description a,
.old-price,
.price {
  display: block;
  text-align: center;
}

.old-price,
.price {
  font-size: 17px;
}

.old-price {
  margin-bottom: 7px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price {
  position: relative;
  padding: 9px 40px;
  padding-top: 7px;
  padding-left: 36px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -20px;
  border: 20px solid #ffffff;
  border-left: 20px solid #ee3643;
}

.item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item:hover .actions {
  display: block;
}

.item:hover .item-card img{
  display: none;
}

.popular-brands {
  margin-bottom: 65px;
}

.logo-brands {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.logo-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
}

.logo-brand:not(.null-margin) {
  margin-right: 20px;
}

.logo-brand img {
  padding: 5px;
}

.services {
  background-color: #f4f7f9;
  padding-bottom: 99px;
  margin-bottom: 58px;
}

.services h2 {
  margin: 0;
  padding: 63px 0 25px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.services p {
  margin: 0;
  padding: 0;
  line-height: 1.85;
}

.text-wrapper {
  width: 360px;
  margin-bottom: 74px;
}

.services-slider label {
  display: block;
  width: 218px;
  padding: 13px 0 16px 22px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.43;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  outline: none;
  cursor: pointer;
}

.services-slider input {
  display: none;
}

.servises-items {
  width: 100%;
}

.services-item h3 {
  margin: 0;
  padding: 9px 0 31px 79px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.services-item {
  margin: 0 0 0 200px;
  padding-bottom: 124px;
  display: none;
}

.item-delivery {
  min-height: 261px;
  background-image: url("../img/png/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 30%;
}

.item-garanty {
  min-height: 283px;
  background-image: url("../img/png/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.item-credit {
  min-height: 285px;
  background-image: url("../img/png/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.item-delivery p,
.item-garanty p,
.item-credit p {
  width: 275px;
  padding-left: 80px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.item-garanty p {
  width: 385px;
}

.item-credit p {
  width: 279px;
}

.item-delivery p:nth-child(3n) {
  width: 175px;
}

.service-btn-delivery:checked ~ label[for="delivery"],
.service-btn-garanty:checked ~ label[for="garanty"],
.service-btn-credit:checked ~ label[for="credit"] {
  color: #32425c;
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.service-btn-delivery:hover ~ label[for="delivery"],
.service-btn-garanty:hover ~ label[for="garanty"],
.service-btn-credit:hover ~ label[for="credit"],
.service-btn-delivery:focus ~ label[for="delivery"],
.service-btn-garanty:focus ~ label[for="garanty"],
.service-btn-credit:focus ~ label[for="credit"] {
  color: #f2f6f8;
  background: #293449;
  border-top: 1px solid #293449;
  border-bottom: 1px solid #293449;
}

.service-btn-delivery:checked ~ .services-items .services-item:nth-child(1),
.service-btn-garanty:checked ~ .services-items .services-item:nth-child(2),
.service-btn-credit:checked ~ .services-items .services-item:nth-child(3) {
  display: block;
}
/*тут не могу понять, почему переключение сервисов не работает */

.company {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 86px;
}

.company h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.company-about p,
.company-contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.85;
  margin-bottom: 25px;
}

.company-about p {
  width: 519px;
}

.company-contacts {
  width: 300px;
}

.partners {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 700;
  margin-bottom: 37px;
}

.partners li {
  position: relative;
}

.partners li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.partners li:not(:last-child) {
  margin-bottom: 20px;
}

.button-company,
.feedback-button {
  text-align: center;
  font-family: Cuprum;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #f9f5f0;
  background-color: #ee3643;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
}

.button-company {
  width: 220px;
}

.feedback-button {
  width: 100%;
  margin-top: 35px;
}

.footer {
  width: 100%;
}

.upper-info {
  background-color: #32425c;
  width: 100%;
}

.logo-footer {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-left: 130px;
}

.footer-row {
  display: flex;
}

.upper-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  margin-top: 0;
  background-color: #293449;
  width: 100%;
}

.footer-info-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  color: #ffffff;
}

.links {
  display: flex;
  justify-content: space-between;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  color: #ffffff;
}

.links a,
.footer-row .upper-navigation-2 {
  color: #ffd180;
}
